
h1
{
  color:black;
}
h2
{
  color:darkblue;
}
.fh:hover {
  background-color:white;
  font-size: 150%;
}
.fj:hover {
  background-color:white;
  font-size: 150%;
}
img{
  border-color:black;
}
